
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}大白CMS后台{% endblock %}

{% block content %}
{{super()}}

<BODY background="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1495368900718&di=adeeabd4118217de4db253bed8e9093e&imgtype=0&src=http%3A%2F%2Fimage.tianjimedia.com%2FuploadImages%2F2013%2F141%2FS90U9K4010Q5.jpg"> 
<div class="container">
	<div class="row clearfix">
		<div class="col-md-3 column">
		</div>
		<div class="col-md-6 column">
			
<h1>EditArticle:{{ArticleId}}</h1>
<form method="post">
	<p>
	{{form.hidden_tag()}}
        {{form.title()}}
	{{form.content(class = "ckeditor")}}
	</p><p>
	{{form.submit()}}
	</P>
</form>
<div class="span12">

		</div>
		<div class="col-md-3 column">
		</div>
	</div>
</div>

{% endblock %}






