
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}大白CMS-用户登陆{% endblock %}

{% block content %}
{{super()}}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<p class="text-left">
				 </br></br>
			</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<h1> </h1>
				</div>
			</div>
			
			<h2 class="text-info text-left">
				管理员登陆
			</h2>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<h1> </h1>
				</div>
			</div>
			{{ wtf.quick_form(form) }}
			<p class="text-left">
				<h6>  <a href="{{ url_for('main.index') }}">返回前台首页</a> </h6>
			</p>
		</div>
		<div class="col-md-6 column">
			<img height = 320 src="http://pic.58pic.com/58pic/15/61/57/20r58PICwSP_1024.jpg" class="img-rounded" style="float:right" />
		</div>
	</div>
</div>

{% endblock %}






