
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}大白CMS后台{% endblock %}

{% block content %}
{{super()}}
<h1>EditSubCategory:{{SubCategory.name}}</h1>
{% if empty %}
<h1>This SubCategory has no Article</h1>
{% else %}
<ul>
	{% for Article in ArticlesList %}
		<li> {{ Article.title }} </li>
	{% endfor %}
</ul>
{{ wtf.quick_form(DelForm) }}
{{ wtf.quick_form(EditForm) }}
{% endif %}
{{ wtf.quick_form(AddForm) }}
<a href = '{{url_for('background.Category')}}'>返回上级菜单</a>
{% endblock %}






