
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}大白研发团队{% endblock %}

{% block content %}
{{super()}}

<nav class="navbar navbar-default" role="navigation">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav navbar-nav">
				<li class="active">
					 <a href="{{ url_for('main.index') }}">首页</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% for CategoriesIterator in CategoriesList %}
					{% if CategoriesIterator.sons == [] %}
						<li>
					 		<a href="{{url_for('main.ArticleList', C = CategoriesIterator.id, SC = 'No')}}">{{CategoriesIterator.name}}</a>
						</li>
					{% else %}
						<li class="dropdown pull-right">
					 		<a href="#" data-toggle="dropdown" class="dropdown-toggle">{{CategoriesIterator.name}}<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								{% for SubCategoriesIterator in CategoriesIterator.sons %}
									<li>
							 			<a href="{{url_for('main.ArticleList', C = CategoriesIterator.id, SC = SubCategoriesIterator.id)}}">{{SubCategoriesIterator.name}}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
</div>
</nav>
		<div class="col-md-4 column">
			<ul class="nav nav-tabs nav-stacked">
				{% if Category.sons != [] %}
					{% for SubCategoriesIterator in Category.sons %}
						<li>
					 		<a href="{{url_for('main.ArticleList', C = Category.id, SC = SubCategoriesIterator.id)}}">{{SubCategoriesIterator.name}}</a>
						</li>
					{% endfor %}
				{% endif %}
				<li>
					 <a href="{{ url_for('main.index') }}">返回首页</a>
				</li>
			</ul>
		</div>
		<div class="col-md-8 column">
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<div class="jumbotron well">
							<ul>
								{% if SubCategory.sons != [] %}
									{% for ArticlesIterator in SubCategory.sons %}
										<li>
											<a href="{{url_for('main.Article', A = ArticlesIterator.id)}}">{{ArticlesIterator.title}}</a>
										</li>
									{% endfor %}
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}






