{% extends 'admin/index.html' %}
{% block body %}
    <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="hero-unit">
				<h2>
					欢迎使用大白CMS
				</h2>
				<p>
					<em>大白CMS</em>是集简单、健壮、灵活、开源几大特点的开源内容管理系统, 由福建师范大学软件学院2015级软件工程专业的同学开发。该Web内容管理系统旨在为中小型科研团队提供简单，高效的快速建站解决方案。虽然目前还没有任何科研团队使用它，但我们相信它终有一天会在未来的市场竞争中脱颖而出，成为一款伟大的CMS！
				</p>
				<p>
					<em>系统架构：Flask + Werkzeug + Bootstrap</em></br>
					<em>开发团队：黄劲 黄建军 梁智杰 黄毅 林建和 付磊</em>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

